:root {
    --demoblock-border: var(--vp-c-divider-light);
    --demoblock-control: #d3dce6;
    --demoblock-control-bg: var(--vp-c-bg);
    --demoblock-control-bg-hover: #f9fafc;
    --demoblock-description-bg: var(--vp-c-bg);
  }
  
  html.dark {
    --demoblock-control: #8b9eb0;
    --demoblock-control-bg-hover: var(--vp-c-bg);
    --demoblock-description-bg: var(--vp-code-bg-color);
    --demoblock-border: var(--vp-c-divider-dark);
  }


  :root {
  --vp-c-brand: #646cff;
  --vp-c-brand-light: #747bff;
  --vp-c-brand-lighter: #9499ff;
  --vp-c-brand-lightest: #bcc0ff;
  --vp-c-brand-dark: #535bf2;
  --vp-c-brand-darker: #454ce1;


  --vp-c-divider-light:rgba(60, 60, 60, .12);
  --vp-c-divider-dark:rgba(84, 84, 84, .48);
}